NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SEED_OWNER_EMAIL=
SEED_OWNER_PASSWORD=
SEED_SUPERADMIN_EMAIL=
SEED_SUPERADMIN_PASSWORD=
SEED_GURU_EMAIL=
SEED_GURU_PASSWORD=